[Unit]
Description=Disable wakeup on USB

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/acpi-wakeup -XHC

[Install]
WantedBy=multi-user.target
